.container{
  width=100%;
  max-width: 900px;
  margin: 0 auto;
}

.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{
  font-family: georgia, serif;
  line-height: 180%;
}

.chapterheadline{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: red;
  border-bottom: 4px solid;
  text-transform: uppercase;

}

.photo{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.column{
  font-family: georgia, serif;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.footer{
  font-family: georgia, serif;
}

blockquote{
  font: 16px/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
}

h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bolder;
  color: red;
  text-transform: uppercase;
  font-size: 1.5em;
  border-bottom: 4px solid;
}

.logo{
  color: white;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red{
  color: red;
}
