.container{
  width=100%;
  max-width: 900px;
  margin: 0 auto;
}

.logo{
  color: white;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
}

p{
  font-family: georgia, serif;
  line-height: 180%;
  color: white;
}

.red{
  color: #aa0505;
}

.hero-container{
  position:relative;
  text-align: center;
  color: white;
}

.hero-image{
  width: 100%;
  animation: movedown 3s linear 1;
}

@keyframes movedown {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.overlay{
  position: absolute;
  top:68%;
  width:100%;
  background-color: black;
  opacity: .8;
}

.hero-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hero-sub{
  font-family: serif;
  font-size: 3em;
}

.byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.headline{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

hr{
  color: #aa0505;
  opacity: 100%;
}

blockquote{
  font: 24px serif;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 90px;
  padding-left: 60px;
  color: white;
  font-style:italic;
  border-bottom: 3px solid #aa0505;
  border-left: 3px solid #aa0505;
}

.quote{
  font-style: normal;
  font: 18px serif;
  display: block;
  margin-top: 1em;
  padding-bottom: 1em;
}

.graph{
  background-color: white;
}

h3{
  font: 20px serif;
  color: white;
  font-style: oblique;
  text-align: center;
}

.author{
  font-size: 13px;
}

/* links*/
a:link{
  color: red;
}

a:visited{
  color: purple;

}

a:hover{
  color:blue;
}

article{
  display: block;
  width: 70%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
  border-style: solid;
  border-color: #aa0505;
}
